@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Cinzel&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h2 {
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: 'Cinzel', serif;
    font-weight: 100;
    margin-top: 100px;
}

/*=========================================================================================================================================================================*/

#cabecalho_um {
    background-color: rgb(32, 32, 32);
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    color: white;
}

#cabecalho_um ul{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 100;
}

#cabecalho_um ul li{
    display: inline;
    margin-left: 10px;
}

#cabecalho_um ul li a {
    color: white;
    font-size: 13px;
    text-decoration: none;
}

/*=========================================================================================================================================================================*/

#cabecalho_dois {
    text-align: center;
    background-color: #000;
}

#cabecalho_dois #logo {
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
}

/*MENU*/
#cabecalho_dois ul {
    display: block;
    position: relative;
    margin: 0 auto;
}

#cabecalho_dois ul li {
    display: inline-block;
}

#cabecalho_dois ul li a{
    display: block;
    width: 200px;
    height: 80px;
    padding-top: 30px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
}

#cabecalho_dois ul li .seta::after{
    content: ' ▼';
}

#cabecalho_dois ul li .seta:hover::after{
    content: ' ▲';
}

#cabecalho_dois ul li:hover {
    background-color: rgb(121, 0, 0);
}


/* SUB MENU */
#cabecalho_dois ul li:hover>.submenu{
    display: block;
    z-index: 1;
}

#cabecalho_dois .submenu{
    display: none;
    background-color: rgba(121, 0, 0, 0.9);
    width: 100%;
    position: absolute;
    left: 0;
}

#cabecalho_dois .submenu li:hover{
    background-color: rgba(52, 0, 0, 0.7);
    transition: all 0.3s ease;
}


/*=========================================================================================================================================================================*/

#corpo {
    background-color: #000;
}

#corpo #banner {
    display: block;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

/*-----------------------------------------------------------------------------------------*/

#Rotacao_Um {
    position: relative;
}

#Rotacao_Um #C1{
    position: absolute;
    animation-name: C1;
    animation-duration: 20s;
    animation-timing-function: linear;
    transform: translateX(100%);
}

@keyframes C1 {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}

#Rotacao_Um:hover #C1 {
    animation-play-state: paused;
    cursor: no-drop;
}

#Rotacao_Um #C2{
    position: absolute;
    animation-name: C2;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: translateX(-100%);
    animation-delay: 20s;
}

@keyframes C2 {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
    
}

#Rotacao_Um:hover #C2 {
    animation-play-state: paused;
    cursor: no-drop;
}

#Rotacao_Um #C3{
    animation-name: C3;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: translateX(0%);
}

@keyframes C3 {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
  }

#Rotacao_Um:hover #C3 {
      animation-play-state: paused;
      cursor: no-drop;
  }

  /*-----------------------------------------------------------------------------------------*/

#Rotacao_Dois {
    position: relative;
}

#Rotacao_Dois #B1{
    position: absolute;
    animation-name: b1;
    animation-duration: 20s;
    animation-timing-function: linear;
    transform: translateX(100%);
}

@keyframes b1 {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(100%);
    }
  }
  
#Rotacao_Dois:hover #B1 {
    animation-play-state: paused;
    cursor: no-drop;
}

#Rotacao_Dois #B2{
    position: absolute;
    animation-name: b2;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: translateX(-100%);
    animation-delay: 20s;
}

@keyframes b2 {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }

#Rotacao_Dois:hover #B2 {
    animation-play-state: paused;
    cursor: no-drop;
}

#Rotacao_Dois #B3{
    animation-name: b3;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: translateX(0%);
}

@keyframes b3 {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }
  
#Rotacao_Dois:hover #B3 {
    animation-play-state: paused;
    cursor: no-drop;
}

/*-----------------------------------------------------------------------------------------*/
#corpo .filmes li {
    margin: 50px;
    display: inline-block;
}

#corpo .filmes li:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
}  

#corpo .filmes img {
    width: 200px;
    height: 290px;
    border-radius: 12px;
}

#corpo .filmes .class {
    display: block;
    width: 80px;
    height: 24px;
    position: relative;
    z-index: 1;
    top: 35px;
    left: -2px;
    border-radius: 0 5px 5px 0;
    background: #fbb034;
    color: #b5121b;
    font-size: 8px;
    padding: 8px 8px 8px 12px;
    font-weight: 800;
    letter-spacing: 1.1px;
}

#rodape {
    background-color: rgb(32, 32, 32);
    display: block;
    margin: 0 auto;
}

#rodape #parte_um {
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

#rodape #parte_um ul li .icon {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    font-size: 25px;
}

#rodape #parte_um ul li a {
    color: white;
    text-decoration: none;
}

#rodape #parte_um ul {
    border-bottom: 1px solid rgb(77, 77, 77);
}

#rodape #parte_um ul li {
    display: inline-flex;
    margin: 15px;
}






#rodape #parte_dois {
    display: block;
    text-align: center;
}


#rodape #parte_dois ul li {
    display: inline-block;
    vertical-align: middle;
    color: white;
}

#rodape #parte_dois ul li img{
    width: 130px;
}


